<div class="">
    <div class="">Hi <%= data.user_firstname %></div>
    <div class="">We've received a request to reset your password.</div>
    <div class="">Here's your new password: <span><%= data.password %></span></div>
    <div class="">Thank You,</div>
    <div class="">Regards, Carpool Admin</div>
</div>