<footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-sm-center px-2">
        <span>Copyright &copy; 2019
            <a href="javascript:;" id="Link" target="_blank" class="text-bold-800 primary darken-2">Mobile Mart Admin </a>, All rights reserved. </span>
    </p>
</footer>
