<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
<meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="PIXINVENT">
<title>Mobile Mart |
    <%= page_title %>
</title>
<link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-icon-60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-icon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-icon-152.png">
<link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
<!-- BEGIN VENDOR CSS-->
<!-- font icons-->
<link rel="stylesheet" type="text/css" href="/fonts/feather/style.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/simple-line-icons/style.css">
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/prism.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/chartist.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/toastr.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/switchery.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/pickadate/pickadate.css">
<!--<link rel="stylesheet" type="text/css" href="/vendors/css/tables/datatable/datatables.min.css">-->
<link type="text/css" rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
<!-- END VENDOR CSS-->
<!--BEGIN fancybox CSS-->
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.min.css">
<!--END fancybox CSS-->
<!--BEGIN viewbox CSS-->
<link rel="stylesheet" type="text/css" href="/css/viewbox.css">
<!--END viewbox CSS-->

<!-- BEGIN APEX CSS-->
<link rel="stylesheet" type="text/css" href="/css/app.css">
<!-- END APEX CSS-->
<!-- BEGIN Page Level CSS-->
<!-- END Page Level CSS-->
<!-- BEGIN Custom CSS-->

<!-- END Custom CSS-->
 <!-- jquery-gallery -->
<link rel="stylesheet" type="text/css" href="/jquery-gallery/jquery-gallery.css">
