<% layout(layout_directory+'/mainLayout') -%>

<section id="add-row">
    <div class="row">
        <div class="col-12">
            <div class="content-header">
                Last 30 days</div>
        </div>
    </div>



    <div class="col-12">
        <div class="card">
            <div class="card-body collapse show">
                <div class="card-block">
                    <div id="line-chart2" class="height-350 lineChart2 lineChart2Shadow"></div>
                </div>
            </div>
        </div>
    </div>

</section>